# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Kafka data directory
Docker/data/kafka/data/
data/kafka/

# Logs
logs/
*.log

# Environment variables
.env

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db
